@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
html, body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
  }
  canvas{
    border: 2px solid black;
    
  }

.navigation-bar{
    background-color: #222;
    color: white;
    margin-top: -1.7%;
    display: flex;
}

.nav-name{
    text-align: center;
    margin-top: 1%;
    padding: 10px;
}

.navigation-bar ul{
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
    padding-right: 30px;
}

.navigation-bar li{
    padding-left: 20px;
    font-size: larger;

}

.navigation-bar li a{
    color: white;
    text-decoration: none;

}

.content-body h1{
    text-align: center;
    font-size: 35px;
}

.content-body p{
    text-align: center;
    font-size: 27px;
    padding: 15px;
    font-weight: bolder;
}

.covid-syn{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

img{
    width: 50%;
}