body{
    color: black;
    font-family: "Quicksand";
    font-size: 100px;
    text-align: left;
    display:inline-block;
    /* padding: 5px 5px; */
    /* CHANGED NEXT LINE */
    background-repeat: no-repeat, repeat;
    background-position: centertop;
    background-size: cover;
    background-color:dodgerblue;
}

.touch {
    color: #000;
    font-family:"Calibri";
    font-size: 19px;
    background-color:ivory;
    
    
    border-radius: 10px;
    width: 1338px;

}

.names{
padding: 13px;
margin-left: 600px;
text-align: center;
font-size: 24px;
color: black;
border: 3px solid black;
border-radius: 15px;
width: 120px;
height: 50px;
padding-top: 20px;
}

.names2{
padding: 13px;
margin-left: 600px;
text-align: center;
font-size: 24px;
color: black;
border: 3px solid black;
border-radius: 15px;
width: 120px;
height: 50px;
padding-top: 18px;
    }

.names3{
padding: 13px;
margin-left: 600px;
text-align: center;
font-size: 24px;
color: black;

}
        
