body{
background-color: dodgerblue;
}

.stl{
background: #151719;
border: 4px solid orangered;
border-radius: 13px;
}

.one{
background:  #151719;
border: 2px solid orangered;
border-radius: 20px;
width: 420px;
height: 30px;
color: ghostwhite;

}

.oup{
background:#151719;
border: 3px solid orangered;
border-radius: 20px;
width: 420px;
height: 100px;
color: black;
text-align: left;
margin-left: 465px;
}

.btn{
background-color:chartreuse;
color: black;
border: 3px solid black;
border-radius: 13px;
}

